

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [4]:
liste=[]
liste

[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [5]:
liste=[1,2,3,4,5,6,7]
liste

[1, 2, 3, 4, 5, 6, 7]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [6]:
len(liste)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [3]:
print(liste[0])
print(liste[3])
print(liste[6])

NameError: name 'liste' is not defined

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [7]:
mixed_data_types=["ball","26","taille","senegal","saint louis"]
mixed_data_types

['ball', '26', 'taille', 'senegal', 'saint louis']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [30]:
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
v=len(it_companies)
print(v)
v=len(it_companies)
print(it_companies)
print(it_companies[0])
print(it_companies[3])
print(it_companies[v-1])
it_companies[2]='web'
print(it_companies)
it_companies.append("informatique1")
print(it_companies)
m=int(len(it_companies)/2)
it_companies.insert(m,"informatique2")
print(it_companies)
it_companies[0].upper()
"#".join(it_companies)
if "web" in it_companies:
    print("web y est")
else:
    print("web y est pas")
it_companies.sort()
print(it_companies)
it_companies.reverse()
print(it_companies)
del it_companies[0:3]
print(it_companies)
del it_companies[-3:]
print(it_companies)

7
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Facebook
Apple
Amazon
['Facebook', 'Google', 'web', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'web', 'Apple', 'IBM', 'Oracle', 'Amazon', 'informatique1']
['Facebook', 'Google', 'web', 'Apple', 'informatique2', 'IBM', 'Oracle', 'Amazon', 'informatique1']
web y est
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'informatique1', 'informatique2', 'web']
['web', 'informatique2', 'informatique1', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'IBM', 'Google']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [40]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joint= front_end + back_end
print(joint)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [28]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
from operator import itemgetter
v=sorted(ages)
print(v)
print('age minimal:', ages[0] )
v=len(ages)
print('l\'age maximal est:',ages[v-1])
ages.insert(0,19)
ages.insert(12,26)
print(ages)
sorted(ages)
median=(ages[5]+ages[6])/2
print(median)
sommeages=0
for i in ages:
    sommeages=( sommeages+i)
agesmoyen= sommeages/12    
print(agesmoyen)
print(ages[11]-ages[0])
diff1= ages[11]-agesmoyen
diff2=abs(ages[0]-agesmoyen)
print(diff1)
print(diff2)
print("max-moyenne est superieur a min-moyen")

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
age minimal: 19
l'age maximal est: 24
[19, 19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 26]
22.5
22.75
7
3.25
3.75
max-moyenne est superieur a min-moyen-

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>